.modalBackground {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 200, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modalContainer {
    width: 800px;
    height: 400px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
   
.modalContainer .title {
    display: inline-block;
    text-align: start;
    margin-left: 25px;
}
  
.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
  
.modalContainer .footer button {
    width: 150px;
    height: 45px;
    /* margin: 10px; */
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
  
.modalContainer .footer button.cancelButton {
    background-color: crimson !important;
}




.body {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.inputContainer input{
    padding-left: 10px;
    width: 300px;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 17px;
}

.inputContainer input[type='file']{
    font-size: 14px;
    margin-top: 10px;
    border: 0;
}

.inputContainer img {
    width: 70px;
    height: 70px;
}